/* COLOUR PALETTE */

/* BACKGROUND COLOURS */
$primary-background: #F8F8F8;
$secondary-background: #28282B;
$page-background: #FFFFFF;

/* HIGHLIGHT COLOURS */
$primary-highlight: #FB3640;
$secondary-highlight: #FFA91F;
$tertiary-highlight: #078EED;

/* TEXT COLOURS */
$primary-text: #28282B; 
$secondary-text: #FFFFFF;
$tertiary-text: #FB3640; 

/* FORMS */
$input-field: #E6E6E6;

/* BUTTONS */
$primary-btn: #FB3640;
$primary-btn-text: #FFFFFF;
$secondary-btn: #FFFFFF;
$secondary-btn-text: #28282B;