/* COLOUR PALETTE */

/* BACKGROUND COLOURS */
$primary-background: #F8F8F8;
$secondary-background: #28282B;
$tertiary-background: #E6E6E6;
$page-background: #FFFFFF;

/* HIGHLIGHT COLOURS */
$primary-highlight: #FB3640;
$secondary-highlight: #FFA91F;
$tertiary-highlight: #078EED;
$warning-text: #8F0015; /* CARMINE */;

/* TEXT COLOURS */
$primary-text: #28282B; 
$secondary-text: #FFFFFF;
$tertiary-text: #FB3640; 

/* FORMS */
$form-background: #ffffff;
$input-field: #FFFFFF;
$input-field-border: #E6E6E6;

/* BUTTONS */
$type-one-btn: #FB3640;
$type-one-btn-border: #B5252C;
$type-one-btn-text: #FFFFFF;
$type-two-btn: #FFFFFF;
$type-two-btn-border: #E2E2E2;
$type-two-btn-text: #28282B;