@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.article-card-small {
    background-color: $form-background;
    border-radius: 0.2rem;
    box-shadow: 0px 2px 5px 0px rgba(19, 24, 44, 0.10);
    margin: 1.25rem;
    @include tablet {
        flex-basis: 23rem;
        margin: 1.75rem;
    }
    @include desktop {
        margin: 1.25rem;
    }
    &__link {
        color: $primary-text;
        text-decoration: none;
    }
    &__hero-img-container {
        align-items: center;
        background-color: $tertiary-background;
        display: flex;
        flex-direction: row;
        height: 5.7rem;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
    &__hero-img {
        object-fit: contain;
        height: 100%;
        width: 100%;
    }
    &__content-container {
        padding: 1rem;
    }
    &__title-container {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        color: $tertiary-text;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
    }
}