@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loading-spinner {
    &__container {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 15rem;
    }
    &__spinner {
        width: 3.125rem;
        height: 3.125rem;
        border: 0.7rem solid $primary-highlight;
        border-top: 0.7rem solid $primary-background;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-direction: linear;
    }
}