@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.header {
    background-color: $primary-background;
    margin: 0;
    padding: 0.75rem 1.5rem;
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    &__title-wrap {
        padding-top: 6rem;
    }
    &__title {
        text-shadow: -1.5px -1.5px 0 #FFFFFF, 1.5px -1.5px 0 #FFFFFF, -1.5px 1.5px 0 #FFFFFF, 1.5px 1.5px 0 #FFFFFF;
        text-transform: capitalize;
        white-space: nowrap;
        &--bold {
            color: $tertiary-text;
        }
    }
    &__nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        @include tablet {
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    &__nav-list {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
    &__nav-list-item {
        margin-right: 1.5rem;
    }
}