@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.login-page {
    background: $secondary-background;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}