@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.landing-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100vw;
    &__background-wrap {
        height: 100%;
        position: relative;
        width: 100%;
        &:before {
            content: '';
            background-image: url('../../assets/images/mobile-kelvin-moquete-LOV7Gbmgm30-unsplash-640x960.jpg');
            background-position: 50% 0;
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            left: 0;
            height: 100%;
            opacity: 0.5;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
    }
    &__title-wrap {
        padding-top: 6rem;
    }
    &__title {
        text-shadow: -1.5px -1.5px 0 #FFFFFF, 1.5px -1.5px 0 #FFFFFF, -1.5px 1.5px 0 #FFFFFF, 1.5px 1.5px 0 #FFFFFF;
        text-transform: capitalize;
        &--bold {
            color: $tertiary-text;
        }
    }
    &__btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 12rem;
    }
    &__btn {
        padding-bottom: 1.5rem;
        &--type-one {
            background-color: $type-one-btn;
            border: 0.0625rem solid $type-one-btn-border;
            color: $type-one-btn-text;
        }
        &--type-two {
            border: 0.0625rem solid $type-two-btn-border;
            background-color: $type-two-btn;
            color: $type-two-btn-text;
        }
    }   
}