@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.account-page {
    background: $secondary-background;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    &__container {
        background: $card-background;
        border-radius: 0.2rem;
        margin: 1.25rem;
    }
}